name: Busted tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run busted tests
        uses: lunarmodules/busted@v0
        with:
          args: --verbose
